/* IMPORTAR FONTES */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@font-face {
  font-family: "TippyToes";
  src: url(fonts/tippytoes-lighter.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "TippyToes";
  src: url(fonts/tippytoes-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "TippyToes";
  src: url(fonts/tippytoes-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "TippyToes";
  src: url(fonts/tippytoes-bolder.ttf);
  font-weight: 800;
}

/* CONFIGURAÇÕES GERAIS */
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", Helvetica, sans-serif;
  font-weight: 600;
}

body {
  background-image: url("imagens/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* CONFIGURAÇÕES DE CONTEÚDO */
main {
  display: flex;
  justify-content: center; /* alinha horizontalmente */
  align-items: center; /* alinha verticalmente */
  height: 90vh;
}

/* CAIXA BRANCA */
.container {
  padding: 3em 2em;
  background-color: white;
  color: rgb(92, 92, 92);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
}

/* INICIO */
h1 {
  font-family: "TippyToes", sans-serif;
  font-weight: 800;
  font-size: 1.6em;
}

.subtitulo {
  font-size: .9em;
}

/* FORMULÁRIO */
form {
  padding: 1em 1em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

input,
button {
  padding: 0.8em;
  border-radius: 10px;
  border: 1px solid rgb(150, 150, 150);
}

button {
  background-color: #95b88a;
  color: white;
  border: none;
  font-family: "TippyToes", sans-serif;
  font-weight: 800;
  font-size: 1em;
}

button:hover {
  background-color: #728d6a;
  cursor: pointer;
}

/* LINKS */
a {
  color: rgb(92, 92, 92);
  font-weight: bold;
}

.links {
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
}

.links a {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.6em;
  text-decoration: none;
}

.links a:hover {
  background-color: #95b88a;
}

.links a img {
  height: 1em;
}

/* TEXTO */
.texto {
  font-size: 0.8em;
}
